  <modutil>
      <preset>
          <durl>https://mods.netrve.net/7D2D/</durl>
          <lhash>82f30b38e97f7ac82305b5456ab268d7dfbeee11</lhash>
          <qhash>6a4de33e593216fef0949aa5caa1d2a8b62cf519</qhash>
          <mhash>b942a006254092f128b7f4ff3a3343d05d1d2aaf</mhash>
      </preset>
      <user>
          <idir>I:\SteamLibrary\steamapps\common\7 Days To Die</idir>
          <vers>0</vers>
      </user>
  </modutil>